## 와인 품질 데이터
- 와인 성분 변수들을 이용하여 품질을 예측하는 유명한 데이터 <br> <br>

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

#### 데이터 불러오기 및 앞부분 확인

In [2]:
data = pd.read_csv('wine.csv')
data.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

#### 데이터 shape 확인

In [3]:
data.shape

(5497, 14)

#### 컬럼명 확인

In [4]:
data.columns

Index(['index', 'quality', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'type'],
      dtype='object')

#### NaN, 데이터 타입, 개수 확인

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 5497 non-null   int64
 1   quality               5497 non-null   int64
 2   fixed acidity         5497 non-null   float64
 3   volatile acidity      5497 non-null   float64
 4   citric acid           5497 non-null   float64
 5   residual sugar        5497 non-null   float64
 6   chlorides             5497 non-null   float64
 7   free sulfur dioxide   5497 non-null   float64
 8   total sulfur dioxide  5497 non-null   float64
 9   density               5497 non-null   float64
 10  pH                    5497 non-null   float64
 11  sulphates             5497 non-null   float64
 12  alcohol               5497 non-null   float64
 13  type                  5497 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 601.4+ KB

#### 통계값 확인

In [6]:
data.describe()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000
mean,2748.000000,5.818992,7.210115,0.338163,0.318543,5.438075,0.055808,30.417682,115.566491,0.994673,3.219502,0.530524,10.504918
std,1586.991546,0.870311,1.287579,0.163224,0.145104,4.756676,0.034653,17.673881,56.288223,0.003014,0.160713,0.149396,1.194524
min,0.000000,3.000000,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.740000,0.220000,8.000000
25%,1374.000000,5.000000,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,78.000000,0.992300,3.110000,0.430000,9.500000
50%,2748.000000,6.000000,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000
75%,4122.000000,6.000000,7.700000,0.400000,0.390000,8.100000,0.064000,41.000000,155.000000,0.996930,3.320000,0.600000,11.300000
max,5496.000000,9.000000,15.900000,1.580000,1.660000,65.800000,0.610000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

#### quality의 unique 확인

In [8]:
data.quality.unique()

array([5, 6, 7, 8, 4, 3, 9], dtype=int64)

#### quality별로 개수 확인

In [9]:
data.quality.value_counts()

6    2416
5    1788
7     924
4     186
8     152
3      26
9       5
Name: quality, dtype: int64

#### 중요하다고 생각되는 부분만 추출

In [25]:
data_sample=data[['quality','residual sugar','pH', 'alcohol', 'type']]
data_sample.head()

   quality  residual sugar    pH  alcohol   type
0        5             6.8  3.44     10.2  white
1        5             2.4  3.19      9.5    red
2        5             2.0  3.05     10.9  white
3        6             6.0  3.26     10.8  white
4        6             9.5  3.04     10.9  white

#### groupby를 통해 quality로 묶고 통계값(min,mean,max) 확인

In [11]:
data.groupby("quality").describe()

          index                                                             \
          count         mean          std    min      25%     50%      75%
quality
3          26.0  2847.730769  1593.037515  209.0  1336.25  2877.5  4022.25
4         186.0  2692.709677  1588.392426   29.0  1422.25  2716.5  3953.00
5        1788.0  2762.370805  1570.003867    0.0  1405.50  2727.5  4119.75
6        2416.0  2741.139901  1610.169856    3.0  1332.75  2764.0  4163.25
7         924.0  2794.899351  1564.044377   11.0  1472.00  2808.5  4123.50
8         152.0  2466.427632  1557.652367   25.0  1167.75  2237.0  3729.25
9           5.0  2354.800000  1146.748752  561.0  2194.00  2324.0  3198.00

                fixed acidity                                              \
            max         count      mean       std  min    25%   50%   75%
quality
3        5402.0          26.0  7.811538  1.751189  4.2  6.825  7.45  8.45
4        5485.0         186.0  7.269892  1.276929  4.6  6.400  7.00  8.00
5        5495.0        1788.0  7.329195  1.255335  4.5  6.500  7.10  7.80
6        5496.0        2416.0  7.166743  1.282480  3.8  6.400  6.90  7.60
7        5494.0         924.0  7.123972  1.370985  4.4  6.300  6.90  7.40
8        5478.0         152.0  6.839474  0.957588  3.9  6.400  6.90  7.30
9        3497.0           5.0  7.420000  0.983362  6.6  6.900  7.10  7.40

              volatile acidity                                                 \
          max            count      mean       std   min     25%    50%   75%
quality
3        11.8             26.0  0.538077  0.358832  0.17  0.2525  0.435  0.73
4        12.5            186.0  0.447285  0.225200  0.11  0.2800  0.380  0.59
5        15.9           1788.0  0.387855  0.177151  0.10  0.2600  0.330  0.49
6        14.3           2416.0  0.312301  0.144935  0.08  0.2100  0.270  0.37
7        15.6            924.0  0.289724  0.118452  0.08  0.2000  0.270  0.34
8        10.7            152.0  0.292730  0.122747  0.12  0.2000  0.280  0.35
9         9.1              5.0  0.298000  0.057619  0.24  0.2600  0.270  0.36

               citric acid                                                 \
           max       count      mean       std   min   25%    50%     75%
quality
3        1.580        26.0  0.266923  0.182269  0.00  0.09  0.275  0.3950
4        1.130       186.0  0.280323  0.177840  0.00  0.16  0.270  0.3875
5        1.330      1788.0  0.308043  0.161073  0.00  0.21  0.300  0.4100
6        1.040      2416.0  0.323411  0.142428  0.00  0.26  0.310  0.3900
7        0.915       924.0  0.332987  0.111151  0.00  0.28  0.320  0.3900
8        0.850       152.0  0.330263  0.097069  0.03  0.28  0.315  0.3625
9        0.360         5.0  0.386000  0.082037  0.29  0.34  0.360  0.4500

              residual sugar                                                \
          max          count      mean       std   min    25%   50%    75%
quality
3        0.66           26.0  5.203846  4.490922  1.15  2.025  3.45  7.800
4        1.00          186.0  4.145430  3.767477  0.70  1.400  2.20  5.600
5        1.00         1788.0  5.792422  4.982051  0.60  1.800  3.00  8.800
6        1.66         2416.0  5.535141  4.905498  0.70  1.800  3.10  8.200
7        0.76          924.0  4.748918  4.046389  0.90  1.800  2.80  6.300
8        0.74          152.0  5.581579  4.128618  0.80  2.000  4.30  7.875
9        0.49            5.0  4.120000  3.759255  1.60  2.000  2.20  4.200

               chlorides                                                      \
           max     count      mean       std    min      25%    50%      75%
quality
3        16.20      26.0  0.076500  0.065056  0.022  0.03725  0.050  0.08100
4        15.40     186.0  0.059247  0.049506  0.013  0.04000  0.050  0.06450
5        23.50    1788.0  0.064417  0.040448  0.009  0.04400  0.053  0.07700
6        65.80    2416.0  0.053932  0.031068  0.015  0.03700  0.046  0.06000
7        19.25     924.0  0.045352  0.022217  0.012  0.03300  0.039  0.05100
8        14.80     152.0  0.041105  0.015843  0.014  0.03100  0.037  0.04525
9        10.60       5.0  0.027400  0.007436  0.018  0.02100  0.031  0.03200

               free sulfur dioxide                                           \
           max               count       mean        std   min    25%   50%
quality
3        0.267                26.0  40.096154  64.514342   3.0   5.00  15.5
4        0.610               186.0  20.553763  17.841413   3.0   8.00  15.0
5        0.464              1788.0  30.174217  18.543231   2.0  15.00  27.0
6        0.415              2416.0  30.969578  16.619571   1.0  18.00  29.0
7        0.358               924.0  30.457251  14.931337   3.0  19.00  30.0
8        0.121               152.0  34.585526  16.628566   3.0  25.75  34.0
9        0.035                 5.0  33.400000  13.427584  24.0  27.00  28.0

                       total sulfur dioxide                                \
            75%    max                count        mean         std   min
quality
3        37.375  289.0                 26.0  121.461538  118.977807   9.0
4        28.000  138.5                186.0  104.811828   60.016053   7.0
5        43.625  131.0               1788.0  120.370805   60.527474   6.0
6        42.000  112.0               2416.0  115.357616   55.316333   6.0
7        40.000  108.0                924.0  108.178571   47.318617   7.0
8        43.000  105.0                152.0  119.421053   42.435737  12.0
9        31.000   57.0                  5.0  116.000000   19.824228  85.0

                                     density                               \
            25%    50%    75%    max   count      mean       std      min
quality
3         21.50   81.0  200.0  440.0    26.0  0.995713  0.002871  0.99110
4         57.75  102.5  151.0  272.0   186.0  0.994730  0.002430  0.98920
5         71.00  126.0  167.0  344.0  1788.0  0.995843  0.002444  0.98722
6         79.00  117.0  155.0  294.0  2416.0  0.994527  0.003070  0.98758
7         86.00  114.0  138.0  229.0   924.0  0.993122  0.003023  0.98711
8         96.00  119.0  148.5  212.5   152.0  0.992544  0.002844  0.98713
9        113.00  119.0  124.0  139.0     5.0  0.991460  0.003118  0.98965

                                                   pH                      \
              25%      50%       75%      max   count      mean       std
quality
3        0.993750  0.99540  0.998060  1.00080    26.0  3.250385  0.227042
4        0.993025  0.99480  0.996495  1.00040   186.0  3.228602  0.192787
5        0.994100  0.99610  0.997600  1.00315  1788.0  3.213384  0.156652
6        0.992100  0.99460  0.996700  1.03898  2416.0  3.219611  0.161476
7        0.990797  0.99240  0.995160  1.00320   924.0  3.228333  0.158903
8        0.990435  0.99196  0.994025  1.00060   152.0  3.216711  0.150358
9        0.989800  0.99030  0.990550  0.99700     5.0  3.308000  0.082885

                                           sulphates                      \
          min     25%    50%     75%   max     count      mean       std
quality
3        2.87  3.0725  3.245  3.4350  3.63      26.0  0.500000  0.113066
4        2.74  3.0800  3.200  3.3575  3.90     186.0  0.500484  0.170672
5        2.79  3.1100  3.190  3.3100  3.79    1788.0  0.525017  0.141525
6        2.74  3.1100  3.210  3.3200  4.01    2416.0  0.532686  0.147505
7        2.84  3.1200  3.220  3.3325  3.82     924.0  0.546786  0.161546
8        2.94  3.1275  3.220  3.3200  3.57     152.0  0.506184  0.160409
9        3.20  3.2800  3.280  3.3700  3.41       5.0  0.466000  0.092628

                                           alcohol                             \
          min     25%    50%     75%   max   count       mean       std   min
quality
3        0.28  0.4075  0.505  0.5650  0.74    26.0  10.251923  1.126630   8.0
4        0.25  0.4000  0.480  0.5675  2.00   186.0  10.180376  0.981727   8.6
5        0.27  0.4400  0.500  0.5800  1.98  1788.0   9.846875  0.816832   8.0
6        0.25  0.4300  0.510  0.6000  1.95  2416.0  10.606015  1.130177   8.4
7        0.22  0.4300  0.520  0.6400  1.36   924.0  11.383864  1.209092   8.6
8        0.25  0.3800  0.480  0.6000  1.10   152.0  11.680921  1.269705   8.8
9        0.36  0.4200  0.460  0.4800  0.61     5.0  12.180000  1.013410  10.4


            25%    50%   75%   max
quality
3         9.625  10.15  11.0  12.6
4         9.400  10.00  10.9  13.5
5         9.300   9.60  10.3  14.9
6         9.600  10.50  11.4  14.0
7        10.600  11.40  12.3  14.2
8        11.000  12.00  12.6  14.0
9        12.400  12.50  12.7  12.9

#### groupby를 통해 quality/type로 묶고 개수 세기

In [12]:
data.groupby(["quality", "type"]).size()

quality  type
3        red         9
         white      17
4        red        41
         white     145
5        red       571
         white    1217
6        red       535
         white    1881
7        red       169
         white     755
8        red        13
         white     139
9        white       5
dtype: int64

#### 알코올 함량을 기준으로 오름차순 정리 (20개)

In [14]:
data_sample.sort_values("alcohol").head(20)

      quality  residual sugar    pH  alcohol   type
4254        3            5.10  3.42      8.0  white
5077        5            0.95  3.34      8.0  white
1768        3            2.10  3.16      8.4    red
4176        5            3.30  3.16      8.4  white
479         6            1.80  2.86      8.4    red
3725        5           20.15  3.01      8.5  white
3772        6           18.00  2.98      8.5  white
172         6           18.00  2.98      8.5  white
255         5            1.60  3.15      8.5    red
3062        5            9.10  3.37      8.5  white
2377        5            1.30  3.19      8.5  white
1427        6            5.90  3.47      8.5  white
4249        4           10.80  3.08      8.6  white
3155        4            4.20  3.25      8.6  white
4224        6            4.90  3.03      8.6  white
3046        5           10.20  3.06      8.6  white
3640        7           14.60  3.21      8.6  white
30          5           16.00  3.13      8.6  white
3656        5           23.50  2.98      8.6  white
3355        4           13.30  3.06      8.6  white

#### 알코올 함량을 기준으로 내림차순 정리 (20개)

In [15]:
data_sample.sort_values("alcohol", ascending=False).head(20)

      quality  residual sugar    pH  alcohol   type
2787        5             7.5  2.98    14.90    red
5340        7             1.6  3.12    14.20  white
4964        7             8.4  3.26    14.05  white
4059        6             1.8  3.68    14.00    red
3005        7             1.9  3.21    14.00  white
4150        7             2.6  3.39    14.00  white
1963        6             2.6  3.32    14.00    red
984         8             1.2  3.33    14.00  white
876         7             2.1  3.71    14.00    red
2142        6             1.8  3.68    14.00    red
3848        8             1.8  3.50    14.00    red
5160        6             7.5  3.38    14.00  white
3265        7             1.9  3.21    14.00  white
5448        7             1.4  3.10    13.90  white
4492        7             2.6  3.36    13.90  white
1463        7             2.4  3.41    13.90  white
196         6             3.4  3.53    13.80  white
2587        6             4.6  3.33    13.80  white
3342        7             4.5  3.42    13.70  white
5456        7             3.1  3.41    13.70  white

#### quailty가 7 이상인 데이터 추출 (20개)

In [33]:
data_sample[data_sample['quality']>=7].head(20)

     quality  residual sugar    pH  alcohol   type
11         7            1.10  3.32     10.9  white
12         7            6.85  3.03     11.9  white
17         7            4.80  3.17     12.2  white
25         8            3.90  3.24     12.6  white
45         7            1.40  3.22     11.5  white
46         7           12.80  3.14      9.1  white
53         7            1.80  3.08     13.7  white
54         8            6.10  3.08     12.5  white
55         7           14.60  3.21      8.6  white
60         7            3.60  3.31     13.1  white
63         7            2.10  3.26     12.4    red
71         8            7.05  3.25     11.1  white
74         7            1.10  3.61     10.3  white
79         7            1.10  3.48     11.0  white
87         7            4.50  3.45     12.6  white
89         7            1.80  3.05     11.8  white
101        7            2.90  3.17     11.0  white
104        7           10.40  3.04     11.5  white
119        7            2.90  3.02      9.5  white
120        7            6.30  3.54     11.6  white

#### alcohol을 기준으로 10도가 넘으면 'strong' 아니면 'weak'으로 표시 (lambda 쓰세요)

In [34]:
data_sample['alcohol_intensity'] = data_sample['alcohol'].apply(lambda x: 'strong' if x>10 else 'weak')
data_sample.head()

   quality  residual sugar    pH  alcohol   type alcohol_intensity
0        5             6.8  3.44     10.2  white            strong
1        5             2.4  3.19      9.5    red              weak
2        5             2.0  3.05     10.9  white            strong
3        6             6.0  3.26     10.8  white            strong
4        6             9.5  3.04     10.9  white            strong

#### merge 실습을 위해 데이터를 인위적으로 나눠볼게요

In [77]:
df1= data["quality"]
df2= data["fixed acidity"]
df3= data["citric acid"]

In [81]:
df4= pd.concat([df1, df2, df3], axis=1)
df4.head()

   quality  fixed acidity  citric acid
0        5            5.6         0.06
1        5            8.8         0.14
2        5            7.9         0.39
3        6            7.0         0.31
4        6            7.8         0.26

In [76]:
df5= data.loc[[11, 12, 17, 25, 45], ["quality", "volatile acidity", "chlorides", "alcohol"]]
df5

    quality  volatile acidity  chlorides  alcohol
11        7             0.160      0.057     10.9
12        7             0.330      0.038     11.9
17        7             0.280      0.029     12.2
25        8             0.290      0.027     12.6
45        7             0.305      0.047     11.5

#### quality를 기준으로 inner join

In [83]:
pd.merge(df4, df5, how='inner', on='quality').head(10)

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        7            6.2         0.33             0.160      0.057     10.9
1        7            6.2         0.33             0.330      0.038     11.9
2        7            6.2         0.33             0.280      0.029     12.2
3        7            6.2         0.33             0.305      0.047     11.5
4        7            7.3         0.40             0.160      0.057     10.9
5        7            7.3         0.40             0.330      0.038     11.9
6        7            7.3         0.40             0.280      0.029     12.2
7        7            7.3         0.40             0.305      0.047     11.5
8        7            6.5         0.25             0.160      0.057     10.9
9        7            6.5         0.25             0.330      0.038     11.9

#### quality를 기준으로 outer join

In [85]:
pd.merge(df4, df5, how='outer', on='quality').head()

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        5            5.6         0.06               NaN        NaN      NaN
1        5            8.8         0.14               NaN        NaN      NaN
2        5            7.9         0.39               NaN        NaN      NaN
3        5            6.1         0.49               NaN        NaN      NaN
4        5            6.8         0.31               NaN        NaN      NaN

<br>수고하셨습니다! 넘파이와 판다스는 기능이 정말 많아서 저도 아직 능숙하지 못하답니다...ㅎㅎ <br>
하지만 우리에겐 구글이 있죠 😎 <br>
무수한 블로그와 스택오버플로우를 뒤지다 보면 필요한 기능을 찾으실 수 있습니다<br>
직접 데이터를 만져보면서 여러 함수들을 써보면 저절로 넘파이와 판다스가 손에 익으실 거에요! :)<br>